<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="btn-container">
<a href="/resume/firstPriority" class="btn btn-main rounded">First Priority candidates</a>
<a href="/resume/secondPriority" class="btn btn-white rounded ms-2">Second Priority candidates</a>
<a href="/resume/lastPriority" class="btn btn-main rounded">Last Priority candidates</a>
<a href="/resume/rejectionPriority" class="btn btn-main rounded">Candidates who were rejected</a>
</div>
</body>
</html>